:root {
  --first-product-color: #aec6a5;
  --second-product-color: #efd478;
  --third-product-color: #d6936d;
  --text-product-color: #131313;
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Seymour One", sans-serif;
}
